@font-face {
    font-family: Avenir-Roman;
    src: url("fonts/AvenirLTStd_Roman.otf") format("opentype");
    font-family: Avenir-Light;
    src: url("fonts/AvenirLTStd_Light.otf") format("opentype");
}

header {
  font-family: 'Avenir-Roman', sans-serif;
  font-size: 56px;
}
