@font-face {
    font-family: Avenir-Roman;
    src: url("fonts/AvenirLTStd_Roman.otf") format("opentype");
    font-family: Avenir-Light;
    src: url("fonts/AvenirLTStd_Light.otf") format("opentype");
}

body {
  font-family: 'Avenir-Roman', sans-serif;
}

header {
  height: 75px;
  color: #fff;
  background:#43E895;
  display: flex;
  flex-direction: row;
  
}

h1 {
  font-size: 17px;
}

.map-icon {
  background-image: url("./images/icon_map@2x.png");
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-size: contain;
}
